certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
numpy==2.2.4
pandas==2.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
reports @ git+https://unionhomemortgage.visualstudio.com/Infrastructure/_git/MODULE-Reports@7a406e438d3634bd0fd3dd8ae3bd557ae24e3a77
requests==2.32.3
six==1.17.0
tzdata==2025.2
urllib3==2.3.0
XlsxWriter==3.2.2
